*{
    background-color: #0F0E14;
    font-family: "Montserrat", sans-serif;
    color: #FFFF;
    margin:0;
}

.main-profile-container
{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.photo-profile{
    width: 40vw;
}

.about-me
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: green;
    width: 60vw;
}