* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 45rem;
    background-color: #1A4F72;
    transform-origin: 0;
    transform: skewY(-10deg);
    box-shadow: 0rem 0.1rem 1rem var(--shadow-mountain);
}

.main-profile-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;


}

.photo-profile {
    width: 20vw;
    height: 60vh;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.about-me-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem;
    background-color: #FFFF;
    width: 35vw;
    font-size: 1.5rem;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-logo-container {
    display: flex;
    gap: 1rem;
    justify-content: right;
}

.profile-logo-container i {
    font-size: 30px;
    color: #000;
}

.about-me-container h2 {
    padding-bottom: 3rem;
}

.about-me-container p {
    padding-bottom: 3rem;
    text-align: justify;
}

.main-work-container {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    justify-items: left;
}

.project-card {
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    height: 200px;
}

.project-card-description-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-card-description-container p,
h3 {
    padding-left: 2rem;

}

.project-card-description-container p {
    padding-top: 2rem;
}

.project-card-description-logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.project-card-description-container>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;

}

.project-card-description-logo {
    margin-left: auto;
    display: flex;
    gap: 12px;
    align-items: center;
    padding-right: 20px;
}

.project-card-description-logo i,
.project-card-description-logo svg {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}





.main-footer-container {

    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    height: 100%;
    display: flex;
}

.footer-left {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 30%;
}

.footer-left h2 {
    padding-bottom: 2rem;
    font-size: 4rem;
}

.footer-left p {
    font-size: 20px;
    padding-bottom: 2rem;
}

.footer-left-contact-item {
    display: flex;
}

.footer-left-contact-item svg {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    fill: #FFFF;
}

.footer-social-media {
    font-size: 40px;
    padding-bottom: 100px;
}

.footer-social-media>i {
    padding-right: 20px;
    color: #FFFF;
}



.footer-right {
    width: 60%;
    display: flex;
    justify-content: end;
}

.footer-right img {
    width: 60%;
}

/*Estilos responsivos para tablets*/
@media (min-width: 768px) and (max-width: 1024px) {

    .main-profile-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .photo-profile {
        width: 70vw;
        height: auto;
        margin-bottom: 2rem;
    }

    .about-me-container {
        width: 70vw;
        padding: 2rem;
        font-size: 3rem;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .profile-logo-container {
        justify-content: center;
        gap: 3rem;
    }

    .profile-logo-container i {
        font-size: 80px;
    }

    .main-work-container h2 {
        padding-left: 1.5rem;
        font-size: 3rem;
    }

    .project-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;

    }

    .project-card {
        width: 90%;
        height: auto;
    }

    .project-card-description-container p {
        font-size: 20px;
        text-align: justify;
        padding: 1rem;
    }


    .footer-right img {
        width: 60%;
        height: auto;
        object-fit: cover;
     
    }


}

/* Estilos responsivos para móviles */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .main-profile-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
    }

    .photo-profile {
        width: 60vw;
        height: auto;
        margin-bottom: 2rem;
    }

    .about-me-container {
        width: 90%;
        padding: 2rem;
        font-size: 1rem;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .profile-logo-container {
        justify-content: center;
        gap: 1rem;
    }

    .main-work-container {
        padding: 4rem 1rem;
    }

    .main-work-container h2 {
        padding-left: 2rem;
    }

    .project-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .project-card {
        width: 90%;
        height: auto;
    }

    .project-card img {
        height: auto;
    }

    .project-card-description-container {
        padding: 1rem;
    }

    .project-card-description-container h3,
    .project-card-description-container p {
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }

    .project-card-description-logo {
        justify-content: flex-end;
        padding-right: 0;
    }

    .main-footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem 1rem;
    }

    .footer-left,
    .footer-right {
        width: 70%;
        padding: 1rem 0;
    }

    .footer-left h2 {
        font-size: 2.5rem;
    }

    .footer-left p {
        font-size: 1.5rem;
    }

    .footer-left-contact-item {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

    }

    .footer-left-contact-item svg {
        height: 30px;
        width: 30px;
        align-items: center;
    }

    .footer-right {
        display: flex;
        justify-content: center;
    }

    .footer-right img {
        width: 80%;
    }

    .footer-social-media {
        justify-content: center;
        font-size: 2rem;
    }

    .footer-social-media i {
        padding: 0 0.5rem;
    }
}