*{
    font-family: "Montserrat", sans-serif;
    margin:0;
}

.main-profile-container
{
    background-color: #0F0E14;
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;

}

.photo-profile{
    width: 30vw;
}

.about-me-container
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem;
    background-color: #FFFF;
    width: 60vw;
}

.about-me-container h2{
    padding-bottom: 3rem;
}

.main-work-container
{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    justify-items: left;
}

.project-card {
    width: 20vw;
    height: 40vh;
    background-color: green;
}

#project-1
{
    background-color: rgb(175, 0, 0);
}

#project-2
{
    background-color: rgb(120, 121, 201);
}
#project-3
{
    background-color: rgb(5, 102, 34);
}
#project-4
{
    background-color: rgb(148, 0, 136);
}
#project-5
{
    background-color: rgb(238, 143, 0);
}
#project-6
{
    background-color: rgb(0, 120, 175);
}

